#a{
  background-image: url(../images/inicio/fondo1.jpg);
  background-size: 100% 100%;
}
#b{
  background-image: url(../images/inicio/fondo2.jpg);
  background-size: 100% 100%;
}
#c{
  background-image: url(../images/inicio/fondo3.jpg);
  background-size: 100% 100%;
}
#d{
  background-image: url(../images/inicio/fondo4.jpg);
  background-size: 100% 100%;
}
#e{
  background-image: url(../images/inicio/fondo5.jpg);
  background-size: 100% 100%;
}
#f{
  background-image: url(../images/inicio/fondo6.jpg);
  background-size: 100% 100%;
}
#g{
  background-image: url(../images/inicio/fondo7.jpg);
  background-size: 100% 100%;
}
#z{
  background-image: url(../images/register/register1.jpg);
  background-size: 100% 100%;
}
#y{
  background-image: url(../images/register/register2.jpg);
  background-size: 100% 100%;
}
#x{
  background-image: url(../images/register/register3.jpg);
  background-size: 100% 100%;
}
#w{
  background-image: url(../images/register/register4.jpg);
  background-size: 100% 100%;
}


.cajadefondo{
  background: linear-gradient(to left, #abbaab, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cajadelogin{
  /* background-color: rgb(110, 193, 201); */
  height: 86vh;
  background-color: rgba(0, 0, 0, 0.30);
}
