*{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	max-width: 100%;
}
body{

/* fondo 2 */
/* background: #000428;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	background: #abbaab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #abbaab, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #abbaab, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	 /* background-repeat: no-repeat; */
}

/* Register */
.register{
	background-color: rgba(246, 246, 246, 0.3);
	border-radius: 10%;
	margin: auto;
	padding-top: 2%;
	padding-bottom:2%;
}
.alert{
	text-align: center;
}
/* Login */

.login{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.5) !important;
}
.social_icon span{
	font-size: 60px;
	margin-left: 10px;
	color: #3FCABD;
}
.social_icon span:hover{
	color: white;
	cursor: pointer;
}
.card-header h3{
	color: white;
}
.social_icon{
	position: absolute;
		right: 50px;
		top: -45px;
}
.input-group-prepend span{
	width: 50px;
	background-color: #3FCABD;
	color: black;
	border:0 !important;
}
input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}
.remember{
	color: white;
}
.remember input{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}
.login_btn{
	color: black;
	background-color: #3FCABD;
	width: 100px;
}
.login_btn:hover{
	color: black;
	background-color: white;
}
.links{
	color: white;
}
/* ---dropdown--- */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: 8px 16px
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  color: blue;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

/* card index */
.index{
background-color: rgba(255, 255, 255, 0.7) !important;
}
.mio{
	list-style: none;
}

.prodcard{
	background-color: rgba(136, 71, 33, 0.3);
}
/* boton de carrito */
.carrito{
	font-size: 1.5rem;
}
.btn-outline-success{
		 color: #fff;
		 background-color: #41ccbf;
		 border-color: #41ccbf;
	}
/* .card-group .card:hover{
	transform: scale(1.1);
} */
.card img{
	width: 100%;
}

.pagination li{
	margin: 1px;
	padding: 1px;
}
.centerbtn{
  position:absolute;
  position: relative; top: 50%; transform: translateY(0%) translateX(42%); width: 55%;
}
